.containerSearch {
  position: relative;

}

.inputSearch {
  padding: 10px;
  padding-right: 35px;
  border-radius: 5px;
  border: 0;
  outline: none;
  font-size: 15px;
}

.botonSeach{
  background-color: red;
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: .5s;
  padding: 0 5px;
}

.botonSeach:hover{
  background-color:white;
  color: red;
  font-weight: bold;

}

