.containerDetail {
  width: 100%;
  height: auto;
  cursor: auto;
  text-align: left;
}

.contentDetail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: left;
  gap: 3rem;
  /* box-shadow: 1px 1px 8px 1px rgb(0, 0, 0); */
  padding: 3.14rem;
  /* background-color: #141414dc; */
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.button {
  padding-top: 2px;
  background: linear-gradient(to bottom, #000000, #5c5757);
  text-align: center;
  border: 2.5px solid rgb(246, 11, 11);
  clip-path: polygon(0% 100%, 20% 0%, 100% 0%, 80% 100%);
  margin-left: 1rem;
  width: 100px;
  height: 25px;
  color: rgb(255, 247, 247);
}
.button:hover {
  color: rgb(246, 11, 11);
  border-width: 2px;
  border-color: rgb(245, 239, 239);
}
