.detailContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}

.detail{

    display: flex;
    align-items: center;
    gap: 50px;

}

.image{
  border-radius: 5px;
  max-width: 300px;
  max-height: 400px;
}

.detailText h3{
  margin-top: 15px;
}

.detailDescription{
  margin: 0 200px;
  margin-block-end: 100px;
  margin-top: 30px;
}

.detailDescription h3{
  margin-bottom: 10px;
}
