.form{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 50px;
    flex-direction: column;
}

.formContain{

    display: flex;
    gap: 70px;

}

.inputName{
position: relative;
margin: 10px 0;
}

.inputName input{
  width: 350px;
  height: 40px;
  border-radius: 6px;
  padding: 0 15px;
  border: 2px solid black;
  background: transparent;
  color: black;
  outline: none;

}
.inputName label{
  position: absolute;
  top: 15%;
  left: 15px;
  transform: translateY(-30%);
 color: black;
  font-size: 19px;
  pointer-events: none;
}

input:focus ~ label, input:valid ~ label{
  top: 0;
  left: 15px;
  font-size: 15px;
  padding: 0 2px;
  background-color: white;

}

.error{
  color: rgb(92, 0, 0);
  margin: 10px;
}
.selecrtAll{
  margin-top: 20px;
}

.select{
  width: 350px;
  height: 42px;
  border-radius: 6px;
  border: 2px solid black;
}


.buttonSubmit{
  position: relative;
  padding: 20px 25px;
  border-radius: 5px;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: .5s;
  font-size: 20px;
}

.buttonSubmit:hover{
  background-color: white;
  color: red;
  border: 1px solid  rgb(85, 0, 0);
  font-weight: bold;
}

.textForm{
  text-align: center;
  font-size: 1.5rem;
  margin: 30px;
}

.formCheckBox{
  margin-top: 20px;
}

.buttonForm{
  margin: 5px;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: red;
  cursor: pointer;
  transition: .5s;
}
.buttonForm:hover{
  background-color: black;
  color: red;
  border: 1px solid  rgb(85, 0, 0);
  font-weight: bold;
}
